body{
    background-image: url(../img/a-viagem-de-chihiro.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
main{
    background-color: rgba(0, 0, 0, 0.376);
    width: 850px;
    height: 500px;
    margin-top: 50px;
    padding-bottom: 40px;
    padding-top: 43px;
    border-radius: 10px;
   

}
#logo{
    width: 600px;
    margin: 20px;
    margin-left: 100px;
    margin-top: -30px;
}
p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: justify;
    margin: 20px;
    
}
#sinopse{
    font-size: 25px;
}
a{
   text-decoration: none; 
    color: rgb(4, 141, 141);
}
a:hover{
    text-decoration: underline;
    color: blue;
}
a:active{
    color: green;
}

#voltar{
    color: rgb(255, 255, 255);
}
#netflix:hover{
    color: red;
    
}
#netflix:active{
    color: green;
}