#body-nausicaa{
    background-image: url(../img/nausicaa-della-valle-del-vento-147417.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#logo-nausicaa{
    width: 600px;
    margin: 20px;
    margin-left: 70px;
    margin-top: -30px;
}
.p-nausicaa{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: justify;
    margin: 1px;
    
}
#sinopse-nausicaa{
    font-size: 25px;
    margin-bottom: -20px;
}
#main-nausicaa{
    background-color: rgba(0, 0, 0, 0.376);
    width: 850px;
    height: 500px;
    margin-top: 50px;
    padding-bottom: 20px;
    border-radius: 10px;

}
#voltar-nausicaa{
    color: black;
}
#netflix-nausicaa:hover{
    color: red;
    
}
#netflix-nausicaa:active{
    color: green;
}
#wikipedia-nausicaa,#netflix-nausicaa{
   text-decoration: none; 
    color: rgb(4, 141, 141);
}
#wikipedia-nausicaa:hover{
    text-decoration: underline;
    color: blue;
}
#wikipedia-nausicaa:active{
    color: green;
}